
html, body{
    /* background-image: linear-gradient(to bottom left, lightgray, navy); */
    background: repeating-linear-gradient(
        90deg,
        rgb(38, 141, 226),
        rgb(65, 6, 6) 100%
    );
    background-size: cover;
    height: 100%;
}

.page {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-image: linear-gradient(to bottom right, white, antiquewhite);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .96;
    padding-bottom: 1%;
    box-shadow: 1px 1px 3px 4px darkgray;
}

tr:hover {
    transform: scale(1.025);
    box-shadow: 1px 1px 3px 4px darkgray;
}

